/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
@import url(http://fonts.googleapis.com/css?family=Fugaz+One);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,800);
@import url(../../libraries/select2.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

button {
  border: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#topbar .input-search input {
  transition: height 0.25s; }

.navbar .user-box .user-info .alert {
  transition: left 0.25s, top 0.25s, bottom 0.25s, right 0.25s; }

.navbar, .navbar .logo span {
  transition: width 0.25s; }

.select2-container {
  font-size: 12px;
  padding-right: 5px; }
  .select2-container .select2-choice {
    background: none;
    border: none;
    box-shadow: none;
    color: rgba(255, 255, 255, 0.9); }
    .select2-container .select2-choice .select2-arrow {
      background: none;
      border: none;
      margin-right: 3px;
      width: 9px; }
      .select2-container .select2-choice .select2-arrow b:before {
        font-family: "FontAwesome";
        content: '\f0d7';
        left: 1px;
        position: relative;
        top: -1px; }
    .select2-container .select2-choice .select2-chosen {
      margin-right: 20px; }

.select2-dropdown-open .select2-choice {
  box-shadow: none; }
  .select2-dropdown-open .select2-choice b:before {
    content: '\f0d8' !important; }

.navbar nav a, .navbar .user-box .user-nav a {
  display: block;
  line-height: 1.5em; }
  .navbar nav a i, .navbar .user-box .user-nav a i {
    font-size: 1.5em;
    text-align: center;
    padding: 0 .4em; }
  .navbar nav a span, .navbar .user-box .user-nav a span {
    position: relative;
    top: -2px; }

.alert {
  border-radius: 999px;
  display: inline-block;
  font-size: 8px;
  padding: 2px 4px;
  text-align: center; }

.alert.warning {
  background: #cc0000; }

.avatar {
  display: inline-block;
  height: 32px;
  width: 32px; }
  .avatar img {
    height: 100%;
    width: 100%; }

button {
  outline: none; }

.button {
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 800;
  outline: 0;
  padding: 6px 18px 4px;
  text-transform: uppercase; }
  .button:hover {
    color: white; }
  .button:active {
    color: rgba(255, 255, 255, 0.7); }
  .buttonbutton {
    padding-top: 4px; }

.button.submit {
  background: #46cb65; }

.button.cancel {
  background: #cc0000; }

form fieldset {
  margin-bottom: 15px;
  width: 200px; }
  form fieldset label {
    display: block;
    margin-bottom: 5px; }

h3 {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 15px 0 10px; }

a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none; }
  a.active, a:hover {
    color: #46cb65; }
  a:active {
    color: #31ad4e; }

#footer nav a, #content-header nav a, .navbar nav a, .navbar .user-box .user-nav a {
  font-weight: 800; }

i {
  color: inherit; }

i.indicator {
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  width: 8px; }

.bass i.indicator {
  background: #69b4d1;
  border: 1px solid #69b4d1; }

.lead i.indicator {
  background: #46cb65;
  border: 1px solid #46cb65; }

.rhythm i.indicator {
  background: #cc0000;
  border: 1px solid #cc0000; }

.dynamic_difficulty i.indicator {
  background: #dfb05a;
  border: 1px solid #dfb05a; }

input {
  background: #e0e7e9;
  border: none;
  border-radius: 1px;
  color: #404040;
  font-size: 13px;
  outline: 0;
  padding: 5px 7px;
  width: 100%; }
  input:focus {
    color: black; }

.modal .modal-content input {
  font-size: 20px;
  height: 40px;
  padding: 0 10px; }

.input-search {
  color: #404040;
  position: relative; }
  .input-search .search {
    background: #46cb65;
    border-radius: 0px 3px 3px 0px;
    color: #fff;
    cursor: pointer;
    height: 26px;
    position: absolute;
    right: 0px;
    top: 2px;
    width: 27px; }
    .input-search .search .fa-search {
      font-size: 14px;
      left: 5px;
      margin-top: -8px;
      top: 50%; }
  .input-search input {
    border-radius: 3px;
    padding-left: 5px; }

.lightbox {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5000; }

.modal {
  margin: 100px auto 0;
  min-width: 400px;
  width: 50%; }
  .modal .modal-header {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .modal .modal-content input + input {
    margin-top: 20px; }
  .modal .modal-footer {
    margin-top: 10px;
    text-align: center; }
    .modal .modal-footer .button {
      margin: 0 5px; }

#footer nav a, #content-header nav a, .navbar nav a, .navbar .user-box .user-nav a {
  display: block;
  text-transform: uppercase;
  white-space: nowrap; }

#footer nav a, #content-header nav a {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px; }

.navbar nav a, .navbar .user-box .user-nav a {
  padding: .6em 0 .5em; }

.navbar nav a, .navbar .user-box .user-nav a {
  border-top: 1px solid rgba(0, 0, 0, 0.2); }
  .navbar nav a.active, .navbar .user-box .user-nav a.active, .navbar nav a:hover, .navbar .user-box .user-nav a:hover {
    background: rgba(47, 66, 77, 0.8);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }
  .navbar nav a:last-child, .navbar .user-box .user-nav a:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: none; }

.navbar nav, .navbar .user-box .user-nav {
  font-size: 13px; }
  .navbar nav i, .navbar .user-box .user-nav i {
    width: 42px; }

.navbar.subnav nav {
  margin-top: 112px; }
  .navbar.subnav nav a.active,
  .navbar.subnav nav a:hover {
    background: rgba(34, 49, 63, 0.8); }

#footer nav {
  padding-top: 10px; }

.notifications {
  height: 100%;
  margin-top: 9px;
  position: relative; }
  .notifications a {
    display: block;
    margin-right: 10px;
    width: 100%; }
  .notifications i {
    margin-right: 0; }
  .notifications .alert {
    left: -8px;
    top: -11px; }

#topbar .filters .filter-group-by {
  display: inline-block;
  text-align: left; }
  #topbar .filters .filter-group-by label {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase; }
  #topbar .filters .filter-group-by .select2-container {
    top: -1px; }

table {
  margin-bottom: 30px;
  width: 100%; }
  table thead {
    font-size: 10px;
    text-align: left; }
    table thead th {
      border-bottom: 1px solid #18232d;
      padding: 5px; }
  table tbody td {
    padding: 10px 5px; }
  table tbody tr:nth-child(2n) td {
    background: #1f2d3a; }
  table tbody tr:hover td {
    background: rgba(255, 255, 255, 0.05); }

table .add {
  text-align: center;
  width: 30px; }
  table .add i {
    cursor: pointer;
    font-size: 16px;
    position: relative;
    top: 1px; }
  table .add i.fa-plus-circle:hover {
    color: #46cb65; }
  table .add i.fa-check-circle {
    color: #46cb65; }
  table .add i.fa-check-circle:hover {
    color: #cc0000; }
table .artist {
  min-width: 100px; }
table .title {
  min-width: 100px; }
table .album {
  min-width: 50px; }
table .updated_at {
  width: 100px; }
table .author {
  width: 80px; }
table .windows,
table .apple,
table .playstation,
table .xbox,
table .lead,
table .rhythm,
table .dynamic_difficulty,
table .bass {
  padding: 5px 0;
  text-align: center;
  width: 24px; }
table td.playstation {
  color: #665cbe; }
table td.xbox {
  color: #52b043; }
table .lead,
table .rhythm,
table .bass {
  padding: 5px 2px; }

.user-card {
  cursor: pointer;
  position: relative;
  height: 42px;
  width: 42px; }
  .user-card .alert {
    left: 10px;
    bottom: 36px; }

body {
  background: #22313f;
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Open Sans';
  font-size: 13px;
  min-height: 500px; }

#main {
  min-height: 100%;
  padding-bottom: 67px; }

#content {
  padding-left: 99px;
  padding-right: 15px;
  padding-top: 80px; }

#content-header + #content {
  padding-top: 114px; }

#footer {
  background: #1f2d3a;
  font-size: 11px;
  height: 52px;
  margin-top: -52px;
  padding: 10px 0 0 84px;
  text-align: center; }

#navigation {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 700; }

.navbar {
  background: #1e8bc3;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 42px;
  z-index: 600; }
  .navbar:hover {
    width: 180px; }
  .navbar.subnav {
    background: #2f424d;
    z-index: 550; }

.navbar .logo {
  font-family: 'Fugaz One';
  font-size: 18px;
  height: 70px;
  margin-right: 10px;
  padding-top: 12px;
  text-align: center;
  width: 100%; }
  .navbar .logo span {
    display: inline-block;
    line-height: 100%;
    letter-spacing: .05em;
    position: relative;
    overflow: hidden;
    width: 12px; }
    .navbar .logo span:last-child {
      margin-left: -4px; }
.navbar:hover span {
  letter-spacing: 0em !important; }
  .navbar:hover span:first-child {
    width: 80px; }
  .navbar:hover span:last-child {
    width: 50px; }

.navbar .user-box {
  *zoom: 1;
  transition: height 0.25s, background 0.25s;
  background: #1e8bc3;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  height: 42px;
  overflow: hidden;
  position: relative;
  width: 180px; }
  .navbar .user-box:before, .navbar .user-box:after {
    content: " ";
    display: table; }
  .navbar .user-box:after {
    clear: both; }
  .navbar .user-box:hover {
    background: rgba(47, 66, 77, 0.5);
    height: 154px; }
  .navbar .user-box .user-info {
    height: 42px; }
    .navbar .user-box .user-info .alert {
      border-radius: 0 0 0 3px;
      position: absolute;
      top: 0;
      right: 138px; }
    .navbar .user-box .user-info .avatar {
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      float: left;
      height: 42px;
      width: 43px; }
    .navbar .user-box .user-info .username {
      line-height: 42px;
      float: left;
      overflow: hidden;
      padding: 0 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 137px; }
.navbar:hover .user-box .alert {
  right: 0; }

#topbar {
  background: #1f2d3a;
  height: 70px;
  left: 0;
  padding-left: 84px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 500; }
  #topbar .input-search {
    display: inline-block;
    margin-top: 4px;
    width: 300px; }
    #topbar .input-search input {
      width: 100%; }
  #topbar .filters {
    padding: 5px 0;
    text-align: left;
    margin: 0 auto;
    width: 300px; }

#content-header {
  background: #1f2d3a;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  min-height: 34px;
  top: 70px;
  padding: 10px 15px 5px;
  padding-left: 99px;
  position: fixed;
  width: 100%; }
  #content-header nav {
    margin: 0 auto;
    text-align: center; }
