/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
@import url(http://fonts.googleapis.com/css?family=Fugaz+One);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #e8edee;
  color: #131924;
  font-family: 'Open Sans';
  font-size: 13px;
  padding-left: 47px;
  padding-top: 70px; }

body.filter-open {
  padding-left: 247px; }

#header {
  background: #344960;
  color: white;
  height: 60px;
  left: 0;
  padding-top: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500; }
  #header h1 {
    float: left;
    margin-right: 20px; }
  #header .user-box {
    position: absolute;
    top: 10px;
    right: 10px; }
    #header .user-box .notifications {
      float: left;
      height: 100%;
      margin-top: 15px;
      position: relative; }
      #header .user-box .notifications a {
        display: block;
        margin-right: 10px;
        width: 100%; }
      #header .user-box .notifications i {
        margin-right: 0; }
      #header .user-box .notifications .alert {
        left: -8px;
        top: -11px; }
    #header .user-box .user-card {
      float: right; }
      #header .user-box .user-card .alert {
        left: 18px;
        top: 4px; }

#sidebar {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 37px;
  z-index: 400; }

#sidebar-nav {
  background: #293a4d;
  height: 100%;
  font-size: 18px;
  overflow: hidden;
  padding: 10px;
  padding-top: 70px;
  transition: .23s all;
  width: 100%; }
  #sidebar-nav:hover {
    width: 160px; }
  #sidebar-nav a {
    white-space: nowrap; }
  #sidebar-nav i {
    margin-right: 10px; }

#filter {
  background: #d8e0e2;
  border-right: 1px solid #c6d1d5;
  height: 100%;
  left: 37px;
  padding: 10px;
  position: fixed;
  top: 60px;
  width: 200px; }

#footer {
  text-align: center;
  padding: 20px; }

.alert {
  border-radius: 999px;
  display: inline-block;
  font-size: 8px;
  padding: 2px 4px;
  position: absolute;
  text-align: center; }

.alert.warning {
  background: #cc0000;
  color: white; }

.avatar {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  padding: 5px 5px 3px 5px; }
  .avatar:hover {
    background: rgba(0, 0, 0, 0.2); }
  .avatar img {
    border-radius: 50%;
    height: 32px;
    width: 32px; }

.button {
  border-radius: 2px;
  color: rgba(19, 25, 36, 0.3);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 6px 18px 4px;
  text-transform: uppercase; }
  .button:hover {
    color: white; }
  .button:active {
    color: #131924; }

.button.submit {
  background: #46cb65; }

.button.cancel {
  background: #cc0000; }

h1 {
  font-family: 'Fugaz One';
  font-size: 18px; }

a {
  color: #131924;
  text-decoration: none; }
  a:hover {
    color: #46cb65; }

#header .user-box .notifications a, #sidebar-nav a {
  color: white; }
  #header .user-box .notifications a:hover, #sidebar-nav a:hover {
    color: #46cb65; }

nav a {
  font-weight: 800; }

i {
  color: #131924;
  margin-right: 5px; }

#header .user-box .notifications a i, #sidebar-nav a i {
  color: white; }

#header .user-box .notifications a:hover i, #sidebar-nav a:hover i {
  color: #46cb65; }

input {
  background: #E0E7E9;
  border: none;
  outline: 0;
  height: 21px;
  width: 200px; }

.input-search {
  display: inline;
  position: relative; }
  .input-search:before {
    content: '\f002';
    font-family: FontAwesome;
    position: absolute;
    left: 4px;
    top: 3px; }
  .input-search input {
    border-radius: 10px;
    padding-left: 23px; }

nav a {
  display: block;
  margin-bottom: 10px; }
