button { outline: none; }

.button {
  border-radius: 2px;
  color: rgba($secondary_text, .3);
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 800;
  outline: 0;
  padding: 6px 18px 4px;
  text-transform: uppercase;

  &:hover { color: rgba($primary_text, 1); }
  &:active { color: rgba($primary_text, .7); }
  &button { padding-top: 4px; }
}

.button.submit {
  background: $button_submit;
}

.button.open {
  background: $button_open;
}

.button.cancel {
  background: $button_cancel;
}