.button {
  border-radius: 2px;
  color: rgba($primary_text, .3);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 6px 18px 4px;
  text-transform: uppercase;

  &:hover { color: rgba($secondary_text, 1); }
  &:active { color: rgba($primary_text, 1); }
}

.button.submit {
  background: $button_submit;
}

.button.cancel {
  background: $button_cancel;
}