.button {
  border-radius: 2px;
  color: rgba($text, .3);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 6px 18px 4px;
  text-transform: uppercase;

  &:hover { color: rgba($text_alt, 1); }
  &:active { color: rgba($text, 1); }
}

.button.submit {
  background: $green;
}

.button.cancel {
  background: $red;
}