#filters {
	float: left;
	position: absolute;
	height: 100%;
	width: $filter_width;
	margin-right:$pad;
	padding: $pad_small;
  	background: #DBE0E1;
  	color: black;

	.title {
		text-align: center;
		font: 18px bold;
		text-decoration: capitalize;
	}

	input {
		border: 0;
		padding: 0;

		&[type="checkbox"] {
			width: 0;
		}

		&[type="range"] {
			position: relative;
			left: -$pad;
		}
	}


}