i {
  color: $primary_text;
}

%icon-secondary {
  color: $secondary_text;
}

%icon-secondary-hover {
  color: $secondary_link_hover;
}

%icon-secondary-link {
  @extend %icon-secondary;

  &:hover { color: $secondary_link_hover; }
}