input {
  background: #E0E7E9;
  border: none;
  color: $input_text;
  outline: 0;
  height: 20px;
  width: 100%;
}

.input-search {
  color: $input_text;
  position: relative;

  .fa-search {
    font-size: 12px;
    left: $pad_small;
    margin-top: -6px;
    position: absolute;
    top: 50%; 
  }

  input {
    border-radius: 0 0 4px 4px;
    padding-left: 25px;
  }
}