input {
  background: #E0E7E9;
  border: none;
  outline: 0;
  height: 21px;
  width: 150px;
}

.input-search {
  display: inline;
  position: relative;

  &:before {
    content: '\f002';
    color: $primary_text;
    font-family: FontAwesome;
    position: absolute;
    left: 4px;
    top: 3px;
  }

  input {
    border-radius: 10px;
    padding-left: 23px;
  }
}