input {
  background: $input_bg;
  border: none;
  color: lighten($input_text, 50);
  font-size: 14px;
  outline: 0;
  padding: 5px 7px;
  width: 100%;

  &:focus { color: $input_text; }
}

%input-large {
  font-size: 20px;
  height: 40px;
  padding: 0 10px;
}

.input-search {
  color: $input_text;
  position: relative;

  .fa-search {
    font-size: 12px;
    left: $pad_small;
    margin-top: -6px;
    position: absolute;
    top: 50%; 
  }

  input {
    border-radius: 0 0 4px 4px;
    height: 20px;
    padding: 0 0 0 25px;
  }
}