%nav {
  a {
    @extend %link-heavy;
    display: block;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

// ------------
// Structure Variants
// ------------
%nav-inline {
  @extend %nav;

  a {
    display: inline;
    margin-right: 5px;
  }
}

%nav-icons {
  @extend %nav;

  a {
    @extend %format-icon-label;
    padding: .6em 0 .5em;
  }
}

// --------------
// Style Variants
// --------------
%nav-buttons {
  a {
    border-top: $border-dark;
    &:last-child { border-bottom: $border-dark; }
    &.active,
    &:hover { background: rgba($secondary, .8); }
  }
}

// -------------
// Page Specific
// -------------
%sidebar-nav {
  @extend %nav-icons;
  @extend %nav-buttons;
  font-size: 13px;

  i { width: $sidebar_width; }
}

%subnav-nav {
  margin-top: $subnav_offset;
  a.active,
  a:hover { background: rgba($primary, .8); }
}

%footer-nav {
  @extend %nav-inline;
  padding-top: 10px;
}