select {}

%select-inline {
  text-align: left;
  // display: inline-block;

  label {
    color: $primary_text_alt;
    display: block;
    float: left;
    font-size: 11px;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    top: $pad_small;
  }

  .fancy-select {
    display: inline-block;

    .trigger {
      background: none;
      border: none;
      box-shadow: none;
      color: $primary_text;
      display: inline-block;
      height: 21px;
      padding: 4px 24px 0 $pad_small;
      width: auto;

      &:after {
        border-top-color: $primary_text;
        top: 8px;
      }
    }

    .options {
      background: $secondary;
      border: none;

      li { color: $green; }
      li:hover,
      li.hover { background: $primary; color: $primary_link; }

      &.open { top: 32px; }
    }
  }
}