@import "compass/utilities/tables";

#table {
    margin-left: $filter_width + $pad;

    span.artist {
        color:#344960;
        font-size:24px;
        font-weight: bold;
        text-decoration: capitalize;
    }

      table.custom_table{
        float: left;
      	color: #131924;
        $table-color: #E8EDEE;
        width: 100%;
        @include table-scaffolding;
        @include alternating-rows-and-columns(#DBE0E1, $table-color, none, $table-color, none);

        td.add {
        	color:#344960;
        	font-size:18px;

        	i.fa.fa-check-circle {
        		color:#46B865;
        	}
        }

       th.rating, td.rating {
        	display: none;
        }

        td.title{

        	}

        td.album{

        	}
        
        td.updated{

        	}

        
        td.author{

        	}
        
        td.rating{
        	color:#DDD922;
        	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        	}
        
        td.diff{
        	text-align: center;
        	}
        
        td.lead{
        	color:#46B865;
        	font-size:10px;
        	text-align: center;
        	}
        
        td.rhythm{
        	color:#D38B8D;
        	font-size:10px;
        	text-align: center;
        	}
        
        td.bass{
        	color:#889FD5;
        	font-size:10px;
        	text-align: center;
        	}
        
        td.dd{
        	color:#FF9933;
        	font-size:10px;
        	text-align: center;
        }

        }

}