table {
  margin-bottom: 30px;
  width: 100%;

  thead {
    font-size: 10px;
    text-align: left;

    th {
      border-bottom: 1px solid $primary_alt;
      padding: 5px;
    }
  }

  tbody {
    td { padding: 10px 5px; }
    tr:nth-child(2n) td { background: $primary_alt; }
    tr:hover td { background: $primary_highlight; }
  }
}

// --------------
// Special Columns
// --------------
table {
  .add {
    text-align: center;
    width: 30px;

    i {
      cursor: pointer;
      font-size: 16px;
      position: relative;
      top: 1px;
    }
    i.fa-plus-circle:hover { color: $green; }
    i.fa-check-circle { color: $green; }
    i.fa-check-circle:hover { color: $red; }
  }
  .artist { min-width: 100px; }
  .title { min-width: 100px; }
  .album { min-width: 50px; }
  .updated_at { width: 100px; }
  .author { width: 80px; }

  .windows,
  .apple,
  .playstation,
  .xbox,
  .lead,
  .rhythm,
  .dynamic_difficulty,
  .bass {
    padding: $pad_small 0;
    text-align: center;
    width: 24px;
  }

  td.playstation { color: $platform_playstation; }
  td.xbox { color: $platform_xbox; }


  .lead,
  .rhythm,
  .bass {
    padding: $pad_small 2px;
  }
}