// Global Colors
$dark_blue: #131924;
$white: red;
$green: #46CB65;

// Background colors
$header_bg: #344960;
$subheader_bg: #293A4D;
$body_bg: #E8EDEE;
$body_off_bg: #D8E0E2;

// Text Colors
$text: $dark_blue;
$text_alt: $white;
$link: $dark_blue;
$link_alt: $white;
$link_alt_hover: $green;