<div id="filter-controls">
  <div class="filter artist">
    <label>Artist</label>
    <input type="text"></input>
  </div>

  <div class="filter title">
    <label>Title</label>
    <input type="text"></input>
  </div>

  <div class="filter album">
    <label>Album</label>
    <input type="text"></input>
  </div>

  <div class="filter member">
    <label>Member</label>
    <input type="text"></input>
  </div>
  
  <div class="filter dynamic-difficulty">
    <label>Dynamic Difficulty</label>
    <select id="filter_tuning">
      <option>Yes</option>
      <option>No</option>
    </select>
  </div>

  <div class="filter tuning">
    <label>Tuning</label>
    <select id="filter_tuning">
      <option>E Standard</option>
      <option>Drop D</option>
      <option>C Standard</option>
      <option>Drop C</option>
    </select>
  </div>

  <div class="filter platform">
    <label>Platform</label>
    <select id="filter_tuning">
      <option>PC</option>
      <option>PS3</option>
      <option>Xbox 360</option>
      <option>Mac</option>
    </select>
  </div>

  <div class="filter part">
    <label>Part</label>
    <select id="filter_tuning">
      <option>Lead</option>
      <option>Rhythm</option>
      <option>Bass</option>
      <option>Vocals</option>
    </select>
  </div>
</div>