<div id="navigation">
  <div class="navbar main">
    <div class="logo">
      <span>Customs</span>
      <span>Forge</span>
    </div>

    <div class="user-box">
      <div class="user-info">
        <div class="alert warning">10</div>
        <div class="avatar"><img src="https://avatars1.githubusercontent.com/u/427439?s=140"></div>
        <div class="username">McPants</div>
      </div>
      <div class="user-nav">
        <a href="#">
          <i class="fa fa-user"></i>
          <span>Edit Account</span>
        </a>
        <a href="#">
          <i class="fa fa-search"></i>
          <span>Search Settings</span>
        </a>
        <a href="#">
          <i class="fa fa-power-off"></i>
          <span>Logout</span>
        </a>
      </div>
    </div>

    <nav>
      <?php link_generator('login'); ?>
        <i class="fa fa-power-off"></i>
        <span>Login</span>
      </a>
      <a href="#">
        <i class="fa fa-tachometer"></i>
        <span>Home</span>
      </a>
      <a href="http://customsforge.com/">
        <i class="fa fa-folder"></i>
        <span>Forums</span>
      </a>
      <a class="active" href="#">
        <i class="fa fa-music"></i>
        <span>CDLC Search</span>
      </a>
      <a href="#">
        <i class="fa fa-edit"></i>
        <span>My Content</span>
      </a>
      <a href="#">
        <i class="fa fa-briefcase"></i>
        <span>Admin</span>
      </a>
    </nav>
  </div>

  <div class="navbar subnav">
    <nav>
      <?php link_generator('browse'); ?>
        <i class="fa fa-book"></i>
        <span>Browse</span>
      </a>
      <?php link_generator('collection'); ?>
        <i class="fa fa-inbox"></i>
        <span>Collection</span>
      </a>
      <a href="#">
        <i class="fa fa-arrow-up"></i>
        <span>Uploads</span>
      </a>
    </nav>
  </div>
</div>