<div id="topbar">
  <div class="main-controls">
    <div class="main-search">
      <button class="search"><i class="fa fa-search"></i></button>
      <input type="text" placeholder="Search by artist or title" />
    </div>

    <div class="main-filters">
      <div class="filter-group_by">
        <label>Group by:</label>    
        <select id="group_by">
          <option value="default">Default</option>
          <option value="artist">Artist</option>
          <option value="album">Album</option>
          <option value="tuning">Tuning</option>
        </select>
      </div>
    </div>

  </div>
  <div class="button open filters">Filters >></div>
</div>