// Platform Colors
$platform_playstation: #665cbe;
$platform_steam: #999;
$platform_xbox: #52b043;


// Global Colors
$red: #CC0000;
$green: #46CB65;
$blue: rgb(105, 180, 209);
$orange: rgb(223, 176, 90);

// The Body
$primary: #22313F;
$primary_alt: #1B2733;
$primary_zebra: #1F2D3A;
$primary_zebra_highlight: rgba(255,255,255,0.05);
$primary_text: rgba(255,255,255,0.9);
$primary_text_alt: rgba(255,255,255,0.7);
$primary_link: rgba(255,255,255,0.9);
$primary_link_hover: $green;
$primary_link_active: darken($green, 10);

// The Subnav
$secondary: #2F424D;
$secondary_text: rgba(0,0,0,0.9);

// The Nav
$accent: #1E8BC3;

$input_bg: #E0E7E9;
$input_text: #000;
$input_text_faded: lighten($input_text, 25);

// -----------------
// Background colors
// -----------------

// Alerts
$alert_warning: $red;

// Buttons
$button_submit: $green;
$button_open: $orange;
$button_cancel: $red;

// Indicators
$indicator_lead: $green;
$indicator_rhythm: $red;
$indicator_bass: $blue;
$indicator_dynamic_difficulty: $orange;

// ------------------
// Borders
// ------------------
$border-dark: 1px solid rgba(0,0,0,0.2);
$border-light: 1px solid rgba(255,255,255,0.05);

// ------------------
// Box Shadows
// ------------------
$box-shadow-bottom: 0 1px 2px rgba(0,0,0,0.2);
$box-shadow-right: 1px 0 2px rgba(0,0,0,0.2);