$fast: .15s;
$medium: .25s;
$slow: .5s;

%transition-basic { transition: $medium all; }
%transition-height { transition: height $medium; }
%transition-position { transition: left $medium, top $medium, bottom $medium, right $medium; }
%transition-width { transition: width $medium; }