#content-header {
  background: $primary_alt;
  box-shadow: $box-shadow-bottom;
  min-height: $content_header_height;
  top: $topbar_height;
  padding: $pad $pad_large $pad_small;
  padding-left: $body_offset;
  position: fixed;
  width: 100%;

  nav {
    @extend %nav-inline;
    margin: 0 auto;
    text-align: center;
  }
}