// The Wrapper
#navigation {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 700;
}

// Inner navbars
.navbar {
  @extend %transition-width;
  background: $accent;
  box-shadow: $box-shadow-right;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: $sidebar_width;
  z-index: 600;

  &:hover { width: $sidebar_width_open; }

  nav { @extend %sidebar-nav; }

  &.subnav {
    background: $secondary;
    z-index: 550;

    nav { @extend %subnav-nav; }
  }
}

// --------
// The logo
// --------
.navbar {
  .logo {
    font-family: 'Fugaz One';
    font-size: 18px;
    height: $topbar_height;
    margin-right: 10px;
    padding-top: 12px;
    text-align: center;
    width: 100%;

    span {
      @extend %transition-width;
      display: inline-block;
      line-height: 100%;
      letter-spacing: .05em;
      position: relative;
      overflow: hidden;
      width: 12px;

      &:last-child { margin-left: -4px; }
    }
  }

  // On sidebar hover, expand logo
  &:hover span {
    letter-spacing: 0em !important;

    &:first-child { width: 80px; }
    &:last-child { width: 50px; }
  }
}


// -------------
// The User Box
// -------------
.navbar {
  .user-box {
    @include clearfix;
    transition: height $medium, background $medium;
    background: $accent;
    border-top: $border-dark;
    height: $user-box-height;
    overflow: hidden;
    position: relative;
    width: $sidebar_width_open;

    &:hover {
      background: rgba($secondary, .5);
      height: $user-box-height-open;
    }

    .user-info {
      height: $sidebar_width;
      
      .alert {
        @extend %transition-position;
        border-radius: 0 0 0 3px;
        position: absolute;
        top: 0;
        right: $sidebar_width_open - $sidebar_width;
      }

      .avatar {
        border-right: $border-dark;
        float: left;
        height: $sidebar_width;
        width: $sidebar_width + 1; // Offset border
      }

      .username {
        line-height: $sidebar_width;
        float: left;
        overflow: hidden;
        padding: 0 $pad;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: $sidebar_width_open - $sidebar_width - 1;
      }
    }

    .user-nav { @extend %sidebar-nav; }
  }

  &:hover .user-box .alert { right: 0; }
}