#sidebars {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
}

.sidebar {
  @extend %transition-width;
  background: $accent;
  box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
  float: left;
  height: 100%;
  overflow: hidden;
  width: $sidebar_width;
  z-index: 900;

  &:hover { width: $sidebar_width_open; }

  nav { @extend %sidebar-nav; }

  &.subnav {
    background: $secondary;
    left: $sidebar_width;
    z-index: 800;

    nav { @extend %subnav-nav; }
  }
}

// --------
// The logo
// --------
.sidebar {
  .logo {
    border-bottom: $border-dark;
    height: $topbar_height;
    margin-right: 10px;
    padding-top: 12px;
    text-align: center;
    width: 100%;

    .logo-text {
      @extend %transition-width;
      display: inline-block;
      line-height: 100%;
      letter-spacing: .05em;
      position: relative;
      overflow: hidden;
      width: 12px;

      &:last-child { margin-left: -4px; }
    }
  }

  // On sidebar hover, expand logo
  &:hover .logo-text {
    letter-spacing: 0em !important;

    &:first-child { width: 80px; }
    &:last-child { width: 50px; }
  }
}


// -------------
// The User Box
// -------------
.sidebar {
  .user-box {
    @include clearfix;
    @extend %transition-basic;
    height: $sidebar_width;
    position: relative;
    width: $sidebar_width_open;

    &:hover {
      height: 150px;
    }

    .alerts {
      position: absolute;
      text-align: center;
      top: -8px;
      width: $sidebar_width;

      .alert {
        display: inline-block;
      }
    }

    .avatar {
      border-right: $border-dark;
      float: left;
      height: $sidebar_width;
      width: $sidebar_width + 1; // Offset border
    }

    .username {
      line-height: $sidebar_width;
      float: left;
      overflow: hidden;
      padding: 0 $pad;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: $sidebar_width_open - $sidebar_width - 1;
    }
  }
}