.sidebar {
  @extend %transition-width;
  background: #1E8BC3;
  // border-right: 1px solid rgba(#FFF,0.1);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: $sidebar_width;
  z-index: 900;

  &.subnav {
    background: #2F424D;
    left: $sidebar_width;
    z-index: 800;


    nav { margin-top: 114px; }
    nav a.active,
    nav a:hover { background: $body_bg; }
  }

  &:hover {
    width: 150px;

    .logo-text { letter-spacing: 0em !important; }
    .logo-text:first-child { width: 80px; }
    .logo-text:last-child { width: 50px; }
    .input-search input { opacity: 1; }
    .input-search:before { color: #000; }
  }

  .logo {
    border-bottom: 1px solid rgba(#000,0.2);
    color: $secondary_text;
    float: left;
    height: $header_height;
    margin-right: 10px;
    padding-top: 12px;
    text-align: center;
    width: 100%;

    .logo-text {
      @extend %transition-width;
      display: inline-block;
      height: 20px;
      letter-spacing: .05em;
      position: relative;
      overflow: hidden;
      width: 12px;

      &:last-child { margin-left: -4px; }
    }
  }

  .user-box {
    float: left;
    border-right: 1px solid rgba(#000,0.2);
  }
}

.sidebar-nav {
  @extend %transition-width;
  height: 100%;
  overflow: hidden;
  width: 100%;

  a { color: $secondary_text; white-space: nowrap; 
    border-bottom: 1px solid rgba(#000,0.2);}
  a:first-child {border-top: 1px solid rgba(#000,0.2);}
  a.active,
  a:hover { background: #2F424D; }
  .label {position:relative; top:-2px; font-size: 15px; font-weight: 400;}
  i { color: $secondary_text; font-size: 20px; text-align: center; padding: 8px 0; width: $sidebar_width; }
}