body {
  background: $primary;
  color: $primary_text;
  font-family: 'Open Sans';
  font-size: 13px;
}

#main {
  min-height: 100%;
  padding-bottom: $footer_height + $pad_large;
  background: $beige;
}

#content {
  padding-left: $body_offset + $pad_small;
  padding-top: $topbar_height + $pad_small;
}

#footer {
  background: $primary_alt;
  font-size: 11px;
  height: $footer_height;
  margin-top: -$footer_height;
  padding: $pad 0 0 $body_offset;
  text-align: center;

  nav {
    @extend %nav-inline;
    padding-top: 10px;
  }
}