$header_height: 40px;
$sidebar_width: 32px;

body {
  background: $body_bg;
  color: $primary_text;
  font-family: 'Open Sans';
  font-size: 13px;
  padding-left: $sidebar_width + 10px;
  padding-top: $header_height + 10px;
}

body.filter-open {
  padding-left: $sidebar_width + 10px;
}

#header {
  background: $header_bg;
  color: $secondary_text;
  height: $header_height;
  left: 0;
  padding: 0 $pad 0 $sidebar_width + $pad;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;

  .input-search {
    float: left;
    margin-top: 10px;

    input { @extend %transition-width; width: 100px; }
    input:focus { width: 200px; }
  }

  .notifications {
    float: left;
    margin-right: 5px;
  }

  .user-box {
    position: absolute;
    top: 7px;
    right: 10px;

    .user-card {
      float: right;
    }
  }
}

#footer {
  text-align: center;
  padding: 20px;
}