#topbar {
  height: $topbar_height;
  left: 0;
  padding-left: $body_offset;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 500;

  .input-search {
    display: inline-block;
    width: 300px;

    input {
      @extend %transition-height;
      width: 100%;

      &:focus { height: 30px; }
    }
  }
}